html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
}

body {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #faf4f2;
  color: #29242a;
  font-family: 'Sofia Sans';

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    overscroll-behavior: none;
    background-color: #faf4f2;
    color: #29242a;
    font-family: 'Sofia Sans';
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

